<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <script src="/static/script.js" defer></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Bangers&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=search"
    />
  </head>
  <body>
    <div class="search-wrapper">
      <label for="search" class="header">Filmify</label>
      <div class="searchbar-wrapper">
        <span class="search-icon material-symbols-outlined">search</span>
        <input type="search" id="search" data-search placeholder="Search" />
      </div>
    </div>
    <div class="movie-cards" data-movie-cards-container>
      <template data-movie-template>
        <div class="card">
          <div class="header" data-header></div>
          <div class="body" data-body></div>
        </div>
      </template>
    </div>

    <div class="modal" playlist-display>
      <span class="close">&times;</span>
      <ul class="playlist"></ul>
    </div>
  </body>
</html>
